.name_algorithm {
    font-size: 1.5rem;
    color: #1A1A1A;
}

.algorithm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.content-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 90%;
}

.tree {
    position: relative;
    width: 70vh;
    height: 70vh;
    background-color: #E5E9F0;
    box-shadow:
        0 8px 12px #BEC4D6,
        0 -4px 6px #FFFFFF,
        inset -5px -5px 10px #FFFFFF,
        inset 5px 5px 10px #BEC4D6;
    border-radius: 15px;
    cursor: default;
    flex-shrink: 0;
}

.text {
    font-family: 'Minecraft', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #1A1A1A;
}

.textarea {
    width: 450px;
    height: 130px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-family: 'Minecraft', sans-serif;
    font-size: 1rem;
}

.button {
    font-family: 'Minecraft', sans-serif;
    font-size: 1rem;
    padding: 10px 15px;
    background-color: springgreen;
    border: white 2px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
    margin-left: 10px;
}

.button:hover {
    background-color: #0056b3;
}

.section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.prediction-result {
    text-align: right;
    font-family: 'Minecraft', sans-serif;
    font-size: 1.2rem;
    color: #1A1A1A;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #A8B4C7;
    color: #1A1A1A;
    font-family: 'Minecraft', sans-serif;
    font-size: 1rem;
}

.node {
    position: absolute;
    background: #007bff;
    color: white;
    text-align: center;
    font-family: 'Minecraft', sans-serif;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.connector {
    position: absolute;
    border-left: 1px solid #ccc;
}

.connector-horizontal {
    position: absolute;
    border-top: 1px solid #ccc;
}

.node circle {
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

#tree-container {
    border: 1px solid #ddd;
    margin-top: 20px;
}