body {
    touch-action: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

#mainField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#table {
    position: relative;
    margin: 20px auto;
    background-color: #ffffff;
    border: 2px solid #ccc;
    cursor: crosshair;
}

#startButton {
    position: relative;
}

#foodButton {
    position: relative;
}

#colony {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.ant {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: black;
    transform: translate(-50%, -50%);
}

.food {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: green;
    transform: translate(-50%, -50%);
}

.pheromone {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: deeppink;
}