body {
    touch-action: none;
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 5vh;
    background-color: springgreen;
    transition: background-color 0.3s ease;
    border: white 2px solid;
    border-radius: 10px;
    cursor: pointer;
}

#mainField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#table {
    image-rendering: pixelated;
    width: 500px;
    height: 500px;
    position: relative;
    margin: 20px auto;
    background-color: #ffffff;
    cursor: crosshair;
    border: none;
    border-radius: 15px;
    box-shadow:
            0 8px 12px #BEC4D6,
            0 -4px 6px #FFFFFF;
}

#startButton {
    position: relative;
}

#foodButton {
    position: relative;
}

#colony {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.algorithm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.content-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 90%;
}

.text-and-button {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text {
    font-family: 'Minecraft', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #1A1A1A;
}

.ant {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: black;
    transform: translate(-50%, -50%);
}

.food {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: green;
    transform: translate(-50%, -50%);
}

.pheromone {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: deeppink;
}