@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/minecraft.ttf') format('truetype');
}

body {
    background: #252525;
}

.page_header {
    top: 0%;
    width: 50%;
    height: 5vh;
    background-color: #e8e8c6;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    border-radius: 10px;
    border: 2px rgba(242, 242, 242, 0.077) solid;
}

.logo_text {
    margin-left: 10px;
    font-family: 'Minecraft', sans-serif;

    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.15rem;
    color: #1e1c1d;
}

.name {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    text-decoration: none;
}

.image {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin-left: 10px;
}