@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/minecraft.ttf') format('truetype');
}

body {
    background: linear-gradient(to top, #2B2B2B, #5F5F5F);            background-attachment: fixed;
}

.page_header {
    top: 0%;
    width: 100%;
    height: 10vh;
    background-color: #383838;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    border-radius: 10px;
    border: 2px rgba(242, 242, 242, 0.077) solid;
}

.logo_text {
    margin-left: 10px;
    font-family: 'Minecraft', sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: wheat;
}

.name {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    text-decoration: none;
}

.image {
    height: 60px;
    width: 60px; 
    border-radius: 10px;
    margin-left: 10px;
}