@font-face {
    font-family: 'Minecraft';
    src: url('../../fonts/minecraft.ttf') format('truetype');
}


.algorithm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}


.content-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 100%;
}


#myCanvas {
    image-rendering: pixelated;
    width: 60vh;
    height: 60vh;
    background-color: #E5E9F0;
    border-radius: 15px;
    cursor: crosshair;
}

.result-container{
    display: flex;
    width: 100%;
    justify-content: left;
    border: springgreen 2px solid;
    border-radius: 10px;
}

.description-header {
    width: 100%;
    padding: 5px;
    background-color: bisque;
    border-radius: 10px;
    margin-top: 15px;
    font-family: 'Minecraft', sans-serif;
    text-align: center;
}

.input-and-button {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
}

.button {
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 5vh;
    background-color: springgreen;
    border: white 2px solid;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: limegreen;
}