body {
    /* background: linear-gradient(to top, rgb(108, 108, 246), pink); */
}

#field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#error {
    color: red;
}

#result {
    margin-top: 10px;
    color: orange;
}

#grid {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(var(--size), 50px);
    grid-template-rows: repeat(var(--size), 50px);
    gap: 3px; 
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#start {
    height: 32px;
    width: 32px;
    border-radius: 100px;
    background-image: url(../images/favicon-32x32.png);
}

.cell {
    width: 50px; 
    height: 50px;
    background-color: lightgray;
    border: 1px solid #6f6f6f50;
    cursor: pointer;
}

.cell.wall {
    background-color: green; /* Цвет клетки при активации */
}

.cell.main {
    background-color: rgb(242, 238, 116);
}

.cell.path {
    background-color: rgb(49, 255, 8) !important;
}

.cell.show {
    background-color: rgb(26, 255, 0);
}

.cell.mark {
    border: solid 2px rgb(194, 103, 38) !important;
}

.cell.curr {
    background-color: orange;
}

.cell.deadlock {
    background-color: red !important;
}

:root {
    --size: ;
}