@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/minecraft.ttf') format('truetype');
}

#field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-top: 3%;
}

#error {
    color: red;
}

#result {
    margin-top: 10px;
    color: orange;
}

#main-container {
    margin-top: -2%;
    display: flex;
    align-items: center;
}

#description-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
    margin-left: 3%;
    min-height: 70vh;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin-right: 2%;
}

#description-header {
    width: 100%;
    padding: 5px;
    background-color: bisque;
    border-radius: 10px;
    margin-top: 15px;
    font-family: 'Minecraft', sans-serif;
    text-align: center;
}

#text-description {
    font-family: 'Minecraft', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 10px;
}

#grid {
    width: 600px;
    height: 600px;
    max-width: 600px;
    max-height: 600px;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(var(--size),  minmax(0, 1fr));
    grid-template-rows: repeat(var(--size),  minmax(0, 1fr));
    border: 1px black solid;
    background: linear-gradient(#ededed, #ededed) padding-box,
    linear-gradient(to bottom,  rgb(170, 100, 19), rgb(242, 84, 16)) border-box;
    border: 4px solid transparent;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3); 
}

#menu {
    justify-content: center;
    justify-items: center;
    margin-top: 10px;
}

#menu-container {
    align-items: center;
    justify-items: center;
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

#generate {
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 5vh;
    width: 150px;
    background-color: rgb(255, 208, 39);
    border-radius: 10px;
    border: 2px white solid;
    cursor: pointer;
}

#generate:active {
    background-color: rgb(163, 128, 0) !important;
}

#generate:hover {
    background-color: rgb(241, 189, 0);
}

#clear {
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 5vh;
    width: 150px;
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
    border: 2px white solid;
    cursor: pointer;
}

#clear:active {
    background-color: rgb(100, 100, 100) !important;
}

#clear:hover {
    background-color: rgb(137, 137, 137);
}

#start {
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 5vh;
    width: 100px;
    background-color: springgreen;
    border: white 2px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s;
}

#start:active{
    background-color: rgb(2, 194, 9) !important;
}

#start:hover {
    background-color: rgb(0, 255, 8);
}

#start-mock {
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 5vh;
    width: 100px;
    background-color: springgreen;
    border-radius: 10px;
}

#step {
    font-family: 'Minecraft', sans-serif;;
    font-size: 14px;
    font-weight: 400;
    height: 5vh;
    width: 150px;
    background-color: rgb(255, 255, 0);
    border-radius: 10px;
    border: 2px white solid;
    cursor: pointer;
}

#step:active{
    background-color: rgb(204, 171, 41) !important;
}

#step:hover{
    background-color: rgb(255, 214, 49);
}

#step-mock {
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Minecraft', sans-serif;;
    font-size: 14px;
    font-weight: 400;
    height: auto;
    width: 100px;
    background-color: rgb(255, 255, 0);
    border-radius: 10px;
}

#showBySteps {
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 5vh;
    width: 200px;
    background-color: rgb(255, 145, 0);
    border-radius: 10px;
    border: white 2px solid;
    cursor: pointer;
}

#showBySteps:active{
    background-color: rgb(188, 74, 9) !important;
}

#showBySteps:hover{
    background-color: rgb(255, 100, 10);
}

#showBySteps-mock {
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 5vh;
    width: 200px;
    background-color: rgb(255, 145, 0);
    border-radius: 10px;
}

#size {
    height: 4vh;
    width: 40px;
    border-radius: 10px;
    transition: 0.3s;
    padding: 3px;
    text-align: center;
}

#size:focus {
    background-color: rgb(253, 232, 156);
    transition: 0.3s;
    width: 50px;
}

.cell {
    background-color: lightgray;
    border: 1px solid #6f6f6f50;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.2s;
}

.cell.wall {
    background-color: gray;
    background-image: url(../images/wall.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cell.start {
    background-image: url(../images/redstone.png) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px rgb(255, 0, 0) solid;
}

.cell.finish {
    background-image: url(../images/lamp_ff.png) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px black solid;
}

.cell.finish.reached {
    background-image: url(../images/lamp_on.png) !important;
}

.cell.path {
    background-image: url(../images/pinpng.com-redstone-dust-png-4986074.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cell.show {
    background-color: rgb(26, 255, 0);
}

.cell.mark {
    border: solid 2px rgb(194, 103, 38) !important;
}

.cell.deadlock {
    background-image: url(../images/deadlock.png);
}

:root {
    --size: ;
}

#ok {
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 5vh;
    width: 100px;
    background-color: rgb(222, 234, 53);
    border: white 2px solid;
    border-radius: 10px;
    cursor: pointer;
}

#ok:hover{
    background-color: rgba(255, 255, 255, 0.786);
}

#ok:active{
    background-color: rgba(255, 255, 255, 0.786);
}

#message {
    font-family: "Minecraft", sans-serif;
}

#message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 6vh;
}