@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/minecraft.ttf') format('truetype');
}

body {
    /* background: linear-gradient(to top, rgb(108, 168, 246), rgb(41, 116, 246)) !important;
    background-attachment: fixed; */
    /* background-color: rgb(132, 132, 132) !important; */
    /* background-image: url(../images/2025-04-05_17.20.46.png) !important; */
}

#field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    margin-top: 30px;
    /* width: 1000px; */
}

#error {
    color: red;
}

#result {
    margin-top: 10px;
    color: orange;
}

#main_container {
    display: flex;
    align-items: center;
}

#description_block {
    margin-left: 100px;
    margin-top: 150px;
    background-color: rgb(251, 251, 251);
    width: 350px;
    height: 400px;
    border-radius: 10px;
}

#description_header {
    width: 50%;
    padding: 5px;
    background-color: bisque;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 23%;
    font-family: 'Minecraft', sans-serif;
    text-align: center;
}

#description {
    
}

#text_description {
    font-family: 'Minecraft', sans-serif;
    font-size: 15px;
}

#grid {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(var(--size), 50px);
    grid-template-rows: repeat(var(--size), 50px);
    border: 1px black solid;
    background: linear-gradient(#ededed, #ededed) padding-box,
    linear-gradient(to bottom,  rgb(245, 246, 233), rgba(211, 168, 39, 0.738)) border-box;
    border: 3px solid transparent;
    border-radius: 6px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3); 
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    margin-top: 10px;
}

#generate {
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 5vh;
    width: 150px;
    background-color: rgb(255, 208, 39);
    border-radius: 10px;
    border: 2px white solid;
    cursor: pointer;
}

#generate:active {
    background-color: rgba(255, 255, 255, 0.786);
}

#start {
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 5vh;
    width: 100px;
    background-color: springgreen;
    border: white 2px solid;
    border-radius: 10px;
    cursor: pointer;
}

#start:active{
    background-color: rgba(255, 255, 255, 0.786);
    /* transition: 0.1s; */
}

#start-mock {
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 5vh;
    width: 100px;
    background-color: springgreen;
    border-radius: 10px;
}

#step {
    font-family: 'Minecraft', sans-serif;;
    font-size: 14px;
    font-weight: 400;
    height: 5vh;
    width: 150px;
    background-color: rgb(255, 255, 0);
    border-radius: 10px;
    border: 2px white solid;
    cursor: pointer;
}

#step:active{
    background-color: rgba(255, 255, 255, 0.786);
    /* transition: 0.3s; */
}

#step-mock {
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Minecraft', sans-serif;;
    font-size: 14px;
    font-weight: 400;
    height: 5vh;
    width: 100px;
    background-color: rgb(255, 255, 0);
    border-radius: 10px;
}

#showBySteps {
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 5vh;
    width: 200px;
    background-color: rgb(255, 145, 0);
    border-radius: 10px;
    border: white 2px solid;
    cursor: pointer;
}

#showBySteps-mock {
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 5vh;
    width: 200px;
    background-color: rgb(255, 145, 0);
    border-radius: 10px;
}

#showBySteps:active{
    background-color: rgba(255, 255, 255, 0.786);
    /* transition: 0.1s; */
}

#size {
    height: 4vh;
    width: 30px;
    border-radius: 10px;
    transition: 0.3s;
    padding: 3px;
    text-align: center;
}

#size:focus {
    background-color: rgb(253, 232, 156);
    transition: 0.3s;
    width: 40px;
}

.cell {
    width: 50px; 
    height: 50px;
    background-color: lightgray;
    border: 1px solid #6f6f6f50;
    box-sizing: border-box;
    /* border-radius: 4px; */
    cursor: pointer;
    transition: 0.2s;
}

.cell.wall {
    background-color: gray;
}

.cell.main {
    background-color: rgb(242, 238, 116);
}

.cell.path {
    background-color: rgb(49, 255, 8) !important;
}

.cell.show {
    background-color: rgb(26, 255, 0);
}

.cell.mark {
    border: solid 2px rgb(194, 103, 38) !important;
}

.cell.curr {
    background-color: orange;
}

.cell.deadlock {
    background-color: rgba(255, 51, 0, 0.74);
}

:root {
    --size: ;
}