#left_card_field {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 5%;
    width: 45%;
    overflow: auto;
    float:left;
    margin-right: 0%;
}

#right_card_field {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 2%;
    width:45%;
    overflow:auto;
    float:left;
}

.block {
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    /*background: linear-gradient(#ededed, #ededed) padding-box,
                linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255)) border-box;*/
    border-radius: 15px;
    /*border: 4px solid transparent;*/
    padding: 10px;
    width: 100%;
    height: 170px;
    margin: 10px;
    box-shadow:
            4px 4px 6px rgba(0, 0, 0, 0.8),
            -4px -4px 6px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    /* box-sizing: border-box; */
}

.block:hover {
    box-shadow:
            inset 4px 4px 6px rgba(0, 0, 0, 0.5),
            inset -4px -4px 6px rgba(255, 255, 255, 0.2);
    transform: scale(0.98);
}

.image-container {
    margin-top: 5px;
    margin-right: 15px;
}

.card-image {
    width: 160px;
    height: 160px;
    border-radius: 17px;
    border: 1px solid #1c1c1c;
}

.text-container {
    margin-top: 5px;
    margin-left: 15px;
    /* transform: scale(0.8); */
    transform-origin: top left;
}

a {
    display: inline-block;
    width: 90%;
    text-decoration: none;
}

.name {
    font-family: "Minecraft", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #fd1919;
    margin-bottom: 10px;   /* Отступ между названием и описанием */
}

.description {
    /* padding: 5px; */
    font-family: "Minecraft", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #f5f1f1;
}

#email_block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(32, 54, 225, 0.199);
    border: 2px rgb(121, 121, 121) solid;
    border-radius: 10px;
    padding: 10px;
    width: 97%;
    height: 302px;
    margin: 10px;
}

#astar_wrap {
    border: 1px rgb(104, 93, 188) solid;
    width: 200px;
    height: 190px;
    border-radius: 9px;
}

#cluster_wrap {
    border: 1px rgb(0, 0, 0) solid;
    width: 200px;
    height: 190px;
    border-radius: 9px;
}

#genetic_wrap {
    border: 1px rgb(170, 0, 255) solid;
    width: 200px;
    height: 190px;
    border-radius: 9px;
}

#link {
    text-decoration: none;
}