body {
    /* background-color: ; */
}

#left_card_field {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-top: 10px;
    margin-left: 10%;
    width:40%;
    overflow: auto;
    float:left
}

#right_card_field {
    display: flex;
    flex-direction: column;
    /* align-items: left; */
    justify-content: left;
    margin-top: 10px;
    width:40%;
    overflow:auto;
    float:left;
}

.block {
    background-color: #ededed;
    border: 2px #a2a1a1 solid;
    border-radius: 10px;
    padding: 10px;
    width: 85%;
    height: 190px;
    margin: 10px;
    display: inline-block;
}

#description {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #5583bc;
    text-align: center;
    position: relative;
    bottom: 195px;
    left: 70px;
}

#astar-description {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #2f2f2f;
    position: absolute;
    top: 22%;
    left: 25%;
    border-radius: 5px; /* Закругленные углы */
    z-index: 10; /* Убедитесь, что текст находится поверх других элементов */
}

#clusterization-description {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #2f2f2f;
    position: absolute;
    top: 50%;
    left: 25%;
    border-radius: 5px; /* Закругленные углы */
    z-index: 10; /* Убедитесь, что текст находится поверх других элементов */
}

#email_block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(32, 54, 225, 0.199);
    border: 2px rgb(121, 121, 121) solid;
    border-radius: 10px;
    padding: 10px;
    width: 97%;
    height: 302px;
    margin: 10px;



}

#astar_wrap {
    border: 1px rgb(104, 93, 188) solid;
    width: 200px;
    height: 190px;
    border-radius: 9px;
}

#cluster_wrap {
    border: 1px rgb(0, 0, 0) solid;
    width: 200px;
    height: 190px;
    border-radius: 9px;
}

#genetic_wrap {
    border: 1px rgb(170, 0, 255) solid;
    width: 200px;
    height: 190px;
    border-radius: 9px;
}

#link {
    text-decoration: none;
}