#main_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#algo_info_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#algo_info {
    font-family: 'Minecraft', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
    padding: 15px;
    background-color: rgb(237, 191, 106);
    width: 400px;
    border-radius: 10px;
}

<<<<<<< HEAD
#choose-mode {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 800px;
=======
#choose_mode {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 35%;
    width: 30%;
>>>>>>> f23e25e3afd6ddb8a7f9b7bafaa1802e6a1be12e
}

#info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    margin-top: 10px;
}

#info_description {
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 2px black solid;
    padding: 2%;
    margin-right: 10px;
    background-color: bisque;
    border-radius: 10px;
}

#field {
    border: 2px black solid;
    border-radius: 10px;
    background-color: rgb(241, 245, 249);
    margin-top: 10px;
<<<<<<< HEAD
    box-shadow: 0 8px 12px #BEC4D6,
    0 -4px 6px #FFFFFF,
    inset -5px -5px 10px #FFFFFF,
    inset 5px 5px 10px #BEC4D6;
=======
>>>>>>> f23e25e3afd6ddb8a7f9b7bafaa1802e6a1be12e
}

#nums_k {
    height: 6vh;
    width: 10%;
    line-height: 1;
    font-size: 30px;
    border: 3px black solid;
    border-radius: 10px;
    transition: 0.3s;
}

#nums_k:focus {
    width: 12%;
    background-color: bisque;
    transition: 0.3s;
}

#start {
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 6vh;
    width: 10%;
    background-color: springgreen;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#start:hover {
    background-color: rgb(2, 200, 101);
}

.mode_button {
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(229, 241, 134);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

#mode_button:hover {
    background-color: rgb(178, 188, 103);
    transition: 0.3s;
}

#clear {
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-right: 120px;
    height: 6vh;
    width: 15%;
    background-color: rgb(255, 178, 63);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

#clear:hover {
    background-color: rgb(173, 119, 65);
    transition: 0.3s;
<<<<<<< HEAD
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4%;
    margin-top: 1%;
    width: 60%;
    box-sizing: border-box;
    min-width: 800px;
}

#description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2%;
    margin-top: 5%;
    width: auto;
    min-height: 40vh;
    height: auto;
    background-color: rgb(251, 251, 251);
    border-radius: 10px;
    margin-left: 20px;
}

#wrapper {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 1%;
    gap: 20px;
}

#description-header {
    width: 50%;
    padding: 5px;
    background-color: bisque;
    border-radius: 10px;
    margin-top: 15px;
    font-family: 'Minecraft', sans-serif;
    text-align: center;
}

#description {
    line-height: 1.5;
}

#description-text {
    font-family: 'Minecraft', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 10px;
=======
>>>>>>> f23e25e3afd6ddb8a7f9b7bafaa1802e6a1be12e
}